# Exercise 1.2

### Diamonds data filtering 

PAntwerp wants you to help them find a good price estimate for a very particular batch of diamonds. The diamonds are characterized by having 

- Ideal cut
- Color D
- Clearer than VVS2 [Very Very Slight Inclusions]
    - Hint try the command `df.column.isin([1,2,3])` 
- Carat less than 0.8
- volume greater than 45

$$
 \text{Volume} = f(x,y,z) = x \cdot y \cdot z
$$

What price per carat can they expect for their batch? Investigate using historical PAntwerpen prices
  

[Antwerpen](https://en.wikipedia.org/wiki/Antwerp_diamond_district)

[dataset info](https://ggplot2.tidyverse.org/reference/diamonds.html)

![](https://clubofmozambique.com/wp-content/uploads/2018/11/dd.jpg)

![](http://www.canadadiamonds.com/canadian_diamonds_images/gia_clarity_scale.gif)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/diamonds.csv")
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
df.clarity.unique()

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

In [21]:
subset = df.query("cut=='Ideal'")\
    .query("clarity in ('VVS2','VVS1', 'IF')")\
    .query("color=='D'")\
    .query("carat<0.8")

subset["volume"] = subset.x*subset.y*subset.z

subset=subset.query("volume>45")

In [23]:
subset['price_per_carat'] = subset.price/subset.carat

subset[["price","price_per_carat"]].agg(["mean"])

            price  price_per_carat
mean  1879.530351       4011.72741